body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

img {
  user-select: none;
}

h2 {
  font-size: 2.5em;
  color: rgb(202, 74, 0);
  line-height: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.lander {
  width: 100vw;
  height: 100vh;
  background: url('./resources/images/landing-bg-placeholder1.jpg');
  background-size: cover;
  scroll-snap-align: start;
}
.lander-contain {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.logo {
  margin: auto;
  display: grid;
}
.logo img {
  height: 30vh;
  margin: auto;
  max-height: 128px;
}
.land-btn-section {
  margin: auto;
  margin-top: 36px;
}
.land-item, .land-btn {
  margin: 4px;
  padding: 4px 16px 5px 16px;
  user-select: none;
  border-radius: 4px;
  border-top: 2px solid rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0,0);
  background: (0,0,0,0);
  color: #000;
  font-weight: 700;
  font-size: 1.2em;
  transition: 200ms linear all;
  text-decoration: overline;
  text-shadow: 0 0 16px #FFF;
  cursor: pointer;
}
.land-item:hover {
  color: #FFF;
  text-shadow: 0 0 0 #000;
  background: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.land-item:active {
  color: #FFF;
  text-shadow: 0 0 0 #000;
  background: rgba(0, 0, 0, 1);
}
.land-btn {
  color: rgb(202, 74, 0); /*rgb(255,94,0)*/
  text-decoration: overline;
}
.land-btn:hover {
  color: #FFF;
  text-shadow: 0 0 0 #000;
  background: rgba(202, 74, 0, 0.75);
  text-decoration: none;
}
.land-btn:active {
  color: #FFF;
  text-shadow: 0 0 0 #000;
  background: rgba(202, 74, 0, 1);
}

.content {
  width: 100vw;
}
.ct-section {
  width: 100%;
  /*height: 100vh;*/
  display: flex;
  scroll-snap-align: start;
  padding: 64px 0px;
}

.section2 {
  background: rgba(255,255,255,0.2) url(./resources/images/CarPartsBG.png);
  background-repeat: repeat;
  background-size: 20%;
  animation: section2_bg 120s linear infinite;
  /*background-attachment: fixed;*/
  padding: 0px;
}
@keyframes section2_bg {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 100%;
  }
}
.section2-bg {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(220, 220, 220, 0.75);
  padding: 64px 0px;
}
.section1-box {
  width: 50%;
  margin: auto;
  color: #333;
  height: 50%;
  /*display: inline-flex;*/
}
.section1-spanbox {
  display: inline-block;
  width: 100%;
}
.about-p {
  font-size: 1.15em;
  margin: 20px;
}
.hours-container {
  text-align: center;
}
/*.hours-list {
  display: flow-root;
  min-width: 260px;
  width: 15vw;
}*/
.hours-list {
  display: inline-block;
  width: fit-content;
  padding: 24px;
  color: #FFF;
  background-color: #ca4a00;
  margin: 8px;
  border-radius: 16px;
  user-select: none;
  transition: 200ms linear all;
}
.hours-list:hover {
  background-color: rgb(255, 94, 0);
}
/*.hours-list-l { float: left; }
.hours-list-r { float: right; }*/
.hours-list-l, .hours-list-r {
  display: block;
  width: 100%;
  text-align: center;
}
.hours-list-l { font-weight: 700; margin-top: 4px;}

.section2-box {
  width: 60%;
  margin: auto;
  color: #333;
  height: 75%;
  display: block;
}

.service-selector {
  line-height: 3em;
  margin-top: 16px;
}
.service-selector-mid {
  text-align: center;
}
.service-selector-inner {
  display: inline-flex;
  position: relative;
  vertical-align: bottom;
}

.serviceBlock {
  bottom: 0px;
  display: inline-block;
  margin: 0px 2px;
  color: #FFF;
  background: #333;
  padding: 6px 16px;
  line-height: 1em;
  border-top: 0 solid rgb(202, 74, 0);
  transition: 200ms linear all;
  user-select: none;
  cursor: pointer;
}
.serviceBlock::after {
  background: #333;
  position: relative;
  width: 100%;
  height: 32px;
}
.serviceBlock:hover {
  background: #555;
  border-top: 6px solid rgb(202, 74, 0);
  padding: 9px 16px;
}
.serviceBlock:active, .serviceBlockSelected {
  background: #777;
  border-top: 6px solid rgb(255, 94, 2);
  padding: 9px 16px; /*padding-top: 10px;*/
}
.service-list {
  background: #777;
  padding: 12px;
  border-radius: 2px;
  transition: 200ms linear all;
  overflow: hidden;
  text-align: center;
}
.service-note {
  background: #777;
  color: #FFF;
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  font-size: 1.15em;
}
.serv-li {
  display: inline-block;
  background: rgb(202, 74, 0);
  padding: 8px 16px;
  border-radius: 1em;
  font-size: 1em;
  margin: 8px 16px 8px 0px;
  list-style-type: circle;
  color: #FFF;
  opacity: 0;
  text-transform: uppercase;
  user-select: none;
  font-weight: 500;
  transition: 200ms linear all;
}
.serv-li.done {
  margin: 8px 8px 8px 8px;
  opacity: 1;
}
.serv-li:hover {
  background: rgb(255, 94, 0);
}
.section4 {
  background: rgba(0, 0, 0, 0.05);
}

.footer {
  background: #333;
  color: #FFF;
  padding: 64px 48px;
  display: flex;
  border-top: 8px solid #ca4a00;
}

.footer-contain {
  margin: auto;
  display: block;
}

.footer-text {
  text-align: center;
  display: block;
  font-size: 0.9em;
}

.contact-body,.hours-container {
  margin-top: 24px;
}
.form-block {
  width: 50%;
  display: inline-block;
}
.form-block-n {
  display: block;
}
.form-title {
  padding: 0px 8px;
}
.form-input-text {
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1.2em;
  margin: 8px 8px 16px;
  padding: 8px 8px;
  border-radius: 8px;
  color: #333;
  width: -webkit-fill-available;
  background: #f8f8f8;
  transition: 200ms linear all;
}
.form-input-text:focus {
  background: #FFF;
}
textarea.form-input-textarea {
  width: -webkit-fill-available;
  margin: 8px 8px 16px;
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1.2em;
  color: #333;
  border-radius: 8px;
  display: block;
  background: #f8f8f8;
  transition: 200ms linear all;
}
.form-input-textarea:focus {
  background: #FFF;
}
.contact-note {
  background: #777;
  color: #FFF;
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  font-size: 1.15em;
}
button.form-button {
  margin: 8px;
  background: rgb(202, 74, 0);
  border: 0;
  font-size: 1.2em;
  color: #FFF;
  padding: 8px 32px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 200ms linear all;
  cursor: pointer;
}
.form-button:hover { background: rgb(255, 94, 0); }
.form-button:active { background: rgb(255, 147, 85); }


.popup-overlay {
  position: fixed;
  background: rgba(80, 80, 80, 0.5);
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 500ms linear all;
  backdrop-filter: blur(10px);
  z-index: 9;
  display: flex;
}

.popup-box {
  margin: auto;
  padding: 0px;
  transition: 500ms cubic-bezier(0, 0, 0, 1) all;
  border-radius: 12px;
  max-width: 25vw;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}

.popup-text {
  font-size: 1.2em;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}
.popup-button {
  margin: 12px;
  background: rgb(202, 74, 0);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  color: #FFF;
  transition: 200ms linear all;
  user-select: none;
  text-transform: uppercase;
  cursor: pointer;
}
.popup-button:hover { background: rgb(255, 94, 0); }
.popup-button:active { background: rgb(255, 147, 85); }
.popup-button.disabled { background: #555; }

.go-top {
  position: fixed;
  right: 0px;
  bottom: 24px;
  width: 56px;
  height: 72px;
  background: #555;
  transition: 200ms linear all;
  border-left: 0 solid rgb(202, 74, 0);
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #888;
  user-select: none;
  cursor: pointer;
}
.go-top:hover {
  background: #555;
  border-left: 8px solid rgb(202, 74, 0);
  width: 64px;
  color: #AAA;
}
.go-top:active {
  background: #777;
  color: #FFF;
  border-left: 8px solid rgb(255, 94, 2);
}