body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

img {
  user-select: none;
}

h2 {
  font-size: 2.5em;
  color: rgb(202, 74, 0);
  line-height: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 600px) {
  .lander {
    width: 100vw;
    height: 100vh;
    background: url('./resources/images/landing-bg-placeholder1.jpg');
    background-size: cover;
    scroll-snap-align: start;
  }
  .lander-contain {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
  }
  .logo {
    margin: auto;
    display: grid;
  }
  .logo img {
    height: 30vh;
    margin: auto;
  }
  .land-btn-section {
    margin: auto;
    margin-top: 8px;
  }
  .land-item, .land-btn {
    margin: 4px;
    padding: 4px 16px 5px 16px;
    user-select: none;
    border-radius: 4px;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    background: (0,0,0,0);
    color: #000;
    font-weight: 900;
    font-size: 1em;
    transition: 200ms linear all;
    text-decoration: overline;
    text-shadow: 0 0 8px #FFF, 0 0 8px #FFF;
    cursor: pointer;
  }
  .land-item:hover {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(0, 0, 0, 0.75);
    text-decoration: none;
  }
  .land-item:active {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(0, 0, 0, 1);
  }
  .land-btn {
    color: rgb(202, 74, 0); /*rgb(255,94,0)*/
    text-decoration: overline;
  }
  .land-btn:hover {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(202, 74, 0, 0.75);
    text-decoration: none;
  }
  .land-btn:active {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(202, 74, 0, 1);
  }
  
  .content {
    width: 100vw;
  }
  .ct-section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
  }
  .section1-box {
    width: 75%;
    margin: auto;
    color: #333;
    height: 50%;
  }
  .section2 {
    background: rgba(255,255,255,0.2);
  }

  .service-selector {
    height: 4em;
    position: relative;
  }
  .service-selector-inner {
    position: absolute;
    bottom: 0px;
  }

  .serviceBlock {
    display: inline-block;
    margin: 2px;
    color: #FFF;
    background: #333;
    padding: 8px 12px;
    line-height: 1em;
    border-top: 0 solid rgb(202, 74, 0);
    transition: 200ms linear all;
    user-select: none;
  }
  .serviceBlock:hover {
    background: #555;
    border-top: 6px solid rgb(202, 74, 0);
    padding-top: 10px;
  }
  .serviceBlock:active, .serviceBlockSelected {
    background: #777;
    border-top: 6px solid rgb(255, 94, 2);
    padding-top: 10px;
  }
  .serv-li {
    font-size: 1.25em;
    margin-top: 2px;
    list-style-type: circle;
    margin-left: 48px;
    color: rgba(0, 0, 0, 0);
  }
  .serv-li.done {
    margin-left: 16px;
    color: rgba(0, 0, 0, 1);
  }
  .section1-box li::before {
    
  }
}