body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(60, 58, 57);
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

img {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 600px) {
  .lander {
    width: 100vw;
    height: 100vh;
    background: url('./resources/images/landing-bg-placeholder1.jpg');
    background-size: cover;
    scroll-snap-align: start;
  }
  .lander-contain {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
  }
  .logo {
    margin: auto;
    display: grid;
  }
  .logo img {
    height: 30vh;
    margin: auto;
  }
  .land-btn-section {
    margin: auto;
    margin-top: 8px;
  }
  .land-item, .land-btn {
    margin: 4px;
    padding: 4px 16px 5px 16px;
    user-select: none;
    border-radius: 4px;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    background: (0,0,0,0);
    color: #000;
    font-weight: 900;
    font-size: 1em;
    transition: 200ms linear all;
    text-decoration: overline;
    text-shadow: 0 0 8px #FFF, 0 0 8px #FFF;
    cursor: pointer;
  }
  .land-item:hover {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }
  .land-item:active {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(0, 0, 0, 0.7);
  }
  .land-btn {
    color: rgb(202, 74, 0); /*rgb(255,94,0)*/
    text-decoration: overline;
  }
  .land-btn:hover {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(202, 74, 0, 0.4);
    text-decoration: none;
  }
  .land-btn:active {
    color: #FFF;
    text-shadow: 0 0 0 #000;
    background: rgba(202, 74, 0, 0.7);
  }
  
  .content {
    width: 100vw;
  }
  .ct-section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
  }
  .section1-box {
    width: 75%;
    margin: auto;
    color: #FFF;
  }
  .section2 {
    background: rgba(255,255,255,0.2);
  }

  .serviceBlock {
    display: inline-block;
    margin: 2px;
    color: #000;
    background: #FFF;
    padding: 8px 12px;
  }
}