.login-window {
    width: 25%;
    margin: auto;
    padding: 32px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 32px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.login-screen {
    z-index: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAASElEQVQoU3WOwQ4AMARD5+5bfYDvdt+iGZENJ9GnLanqXnfMDBszx2lRAJ3oFIBJBCAiiKi26R/AJLpzdqhfvkdsC9ROH/AWPnUPKCkRUb29AAAAAElFTkSuQmCC');
}
.login-button {
    margin: 0px 6px;
    background: rgb(202, 74, 0);
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    transition: 200ms linear all;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: flex;
    float: right;
}
.login-button:hover { background: rgb(255, 94, 0); }
.login-button:active { background: rgb(255, 147, 85); }

.loading-bg {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    backdrop-filter: blur(10px);
    transition: 200ms linear all;
    display: flex;
}
.loading-content {
    margin: auto;
}
.loading-throbber {
    background: url('./images/gear-ts.png');
    width: 80px;
    height: 80px;
    background-size: contain;
    display: block;
    animation-name: loadspin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}
@keyframes loadspin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.loading-text {
    display: block;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12px;
    user-select: none;
}

.transition-cover {
    z-index: 8;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 200ms linear all;
}

.admin-body {
    color: #000;
}


.admin-nav {
    width: 100vw;
    background: rgba(255, 255, 255, 0.75);
    transition: 200ms linear all;
    backdrop-filter: blur(10px);
    position: fixed;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}
.admin-user {
    text-transform: uppercase;
    padding: 10px 24px;
    display: block;
    float: right;
}
.user-text {
    text-transform: uppercase;
}
.user-menu {
    text-align: center;
    width: 196px !important;
}
.nav-items {
    font-size: 1.2em;
    display: inline-block;
    padding: 0px 16px;
    margin: auto 0px;
    color: #333;
    line-height: 2.5em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: 200ms linear all;
    background: rgba(0, 0, 0, 0);
}
.nav-items:hover { background: rgba(0, 0, 0, 0.1); }
.nav-items:active { background: rgba(0, 0, 0, 0.2); }

.admin-contain {
    padding: 96px;
    padding-top: 80px;
}

/* ---------- QUOTE SECTION ---------- */

.year-list, .make-list, .model-list {
    font-size: 1.5em;
    background: #EEE;
    margin-top: 12px;
    padding: 12px 24px;
    transition: 200ms linear all;
    user-select: none;
    cursor: pointer;
}
.year-list:hover { background: #d7d7d7; }
.year-list:active { background: #DDD; }
.menu-tick {
    /*content: '\25b6';*/
    font-size: 0.5em;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    top: -0.3em;
    position: relative;
    margin-right: 12px;
    transition: 200ms linear all;
}
.menu-tick.on {
    transform: rotate(90deg);
}

.make-list {
    font-size: 1.25em;
    background: #CCC;
    padding: 0px 72px;
    overflow: hidden;
    height: 0px;
    margin-top: 0px;
}
.make-list.active {
    padding: 12px 48px;
    height: auto;
}
.make-list:hover { background: #BABABA; }
.make-list:active { background: #BBB; }

.model-list {
    font-size: 1.25em;
    background: #AAA;
    padding: 0px 96px;
    overflow: hidden;
    height: 0px;
    margin-top: 0px;
    cursor: default;
}
.model-list.active {
    padding: 12px 72px;
    height: auto;
}
.model-list:active { background: #9A9A9A; }

.quotelist-load {
    font-size: 1.5em;
    background: #EEE;
    padding: 12px 24px;
    margin: 0px;
    transition: 200ms linear all;
    user-select: none;
}

.model-edit-section {
    display: inline-flex;
    float: right;
}
.edit-icon {
    font-size: 0.75em;
    background: #ca4a00;
    color: #FFF;
    width: 8em;
    margin: 0 4px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.edit-icon:hover { background: #ff5e00; }
.edit-icon:active { background: #ff8945; }
.edit-icon:disabled {
    background: #888;
    color: #444;
    cursor: default;
}

.admin-pm-body {
    z-index: -20;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    backdrop-filter: blur(8px);
    transition: 200ms linear background, backdrop-filter;
    display: flex;
    user-select: none;
}

.admin-pm-box {
    background: rgba(255, 255, 255, 0.75);
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #000;
    margin: auto;
    max-width: 50%;
    position: relative;
    transition: 200ms linear all;
    user-select: none;
}
.admin-pm-msg {
    padding: 12px 32px;
    font-size: 1.25em;
}
.admin-pm-buttonbox {
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
}

.admin-pm-btn {
    font-size: 1.25em;
    background: #666;
    color: #FFF;
    max-width: 50%;
    width: 25%;
    margin: 8px 16px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.admin-pm-btn:hover { background: #777; }
.admin-pm-btn:active { background: #888; }
.admin-pm-btn.main { background: #ca4a00; }
.admin-pm-btn.main:hover { background: #ff5e00; }
.admin-pm-btn.main:active { background: #ff8945; }
.admin-pm-btn:disabled {
    background: #888;
    color: #444;
    cursor: default;
}
.admin-pm-btn::first-letter {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}



.admin-qe-box {
    background: rgba(255, 255, 255, 0.75);
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #000;
    margin: auto;
    min-width: 30%;
    position: relative;
    transition: 200ms linear all;
    user-select: none;
}
.admin-qe-ttext {
    color: #333;
    font-size: 0.8em;
    font-weight: 600;
    margin: 16px;
    margin-bottom: 0px;
}
.admin-qe-buttonbox {
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}
.admin-qe-btn {
    font-size: 1.25em;
    background: #666;
    color: #FFF;
    max-width: 50%;
    width: 25%;
    margin: 8px 16px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.admin-qe-btn:hover { background: #777; }
.admin-qe-btn:active { background: #888; }
.admin-qe-btn.main { background: #ca4a00; }
.admin-qe-btn.main:hover { background: #ff5e00; }
.admin-qe-btn.main:active { background: #ff8945; }
.admin-qe-btn:disabled {
    background: #888;
    color: #444;
    cursor: default;
}
.admin-qe-title {
    display: flex;
    margin: 4px 12px;
    margin-bottom: 0px;
}
.admin-qe-title-txt {
    width: auto;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    color: #333;
    margin: auto 4px;
    padding: 4px 12px;
}
.admin-qe-title-txt[type=number]{
    width: 4em;
} 
.admin-qe-content {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 4px 16px;
    min-height: 50vh;
    max-height: 50vh;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.qe-cat, .qe-item {
    margin: 8px 12px;
    background: #CCC;
    padding: 8px;
    border-radius: 8px;
    color: #333;
    line-height: 1.5em;
}
.qe-item {
    background: #FFF;
    display: flex;
}
.qe-cat.add, .qe-item.add {
    background: #EEE;
    color: #444;
    font-size: 0.9em;
    line-height: 1em;
    text-align: center;
    transition: 150ms linear all;
    cursor: pointer;
}
.qe-cat.add:hover, .qe-item.add:hover {
    background: #FFF;
    color: #444;
}
.qe-bar-button {
    cursor: pointer;
    margin-left: 8px;
    font-size: 14px;
    padding: 1px 4px;
    background: #555;
    border-radius: 8px;
    color: #FFF;
    min-width: 2em;
    display: inline-table;
    text-align: center;
    transition: 200ms linear all;
}
.qe-bar-button:hover { background: #888; }
.qe-bar-button.delete { background: rgb(175, 51, 51); }
.qe-bar-button.delete:hover { background: rgb(223, 87, 87); }
.qe-bar-button.ok { background: rgb(101, 160, 94); }
.qe-bar-button.ok:hover { background: rgb(112, 182, 104); }

.qe-bar-text {
    margin: auto;
}
.qe-bar-text.left {
    float: left;
    margin: initial;
}
.qe-bar-text.right {
    float: right;
    margin: initial;
}

.edit-item-txt {
    font-size: 1em;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 2px 8px;
    width: 10em;
}