.login-window {
    width: 25%;
    margin: auto;
    padding: 32px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 16px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.login-screen {
    z-index: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAASElEQVQoU3WOwQ4AMARD5+5bfYDvdt+iGZENJ9GnLanqXnfMDBszx2lRAJ3oFIBJBCAiiKi26R/AJLpzdqhfvkdsC9ROH/AWPnUPKCkRUb29AAAAAElFTkSuQmCC');
}
.login-button {
    margin: 0px 6px;
    background: rgb(202, 74, 0);
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    transition: 200ms linear all;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: flex;
    float: right;
}
.login-button:hover { background: rgb(255, 94, 0); }
.login-button:active { background: rgb(255, 147, 85); }

.login-error {
    user-select: none;
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    font-size: 0em;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    border-radius: 8px;
    margin: 0px 0px 0px;
    transition: 200ms linear all;
}
.login-error.wrong {
    background: rgba(212, 49, 49, 1);
    font-size: 0.9em;
    padding: 4px;
    margin: 0px 8px 12px;
}

.loading-bg {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    backdrop-filter: blur(10px);
    transition: 200ms linear all;
    display: flex;
}
.loading-content {
    margin: auto;
}
.loading-throbber {
    background: url('./images/gear-ts.png');
    width: 80px;
    height: 80px;
    background-size: contain;
    display: block;
    animation-name: loadspin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}
@keyframes loadspin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.loading-text {
    display: block;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12px;
    user-select: none;
}

.transition-cover {
    z-index: 8;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 200ms linear all;
}

.admin-body {
    color: #000;
}


.admin-nav {
    width: 100vw;
    background: rgba(255, 255, 255, 0.75);
    transition: 200ms linear all;
    backdrop-filter: blur(10px);
    position: fixed;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}
.admin-user {
    text-transform: uppercase;
    padding: 10px 24px;
    display: block;
    float: right;
}
.user-text {
    text-transform: uppercase;
}
.user-menu {
    text-align: center;
    width: 196px !important;
}
.nav-items {
    font-size: 1.2em;
    display: inline-block;
    padding: 0px 16px;
    margin: auto 0px;
    color: #333;
    line-height: 2.5em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: 200ms linear all;
    background: rgba(0, 0, 0, 0.025);
    width: 8em;
    text-align: center;
}
.nav-items.active {
    background: rgba(0, 0, 0, 0.065);
    font-weight: 600;
}
.nav-items:hover { background: rgba(0, 0, 0, 0.1); }
.nav-items:active { background: rgba(0, 0, 0, 0.2); }
.nav-items svg { display: none; }

.nav-button {
    background: #ca4a00;
    color: #FFF;
    font-size: 1.1em;
    border: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms linear all;
    margin: 0px 16px;
    user-select: none;
}
.nav-button:hover { background: #ff5e00;}
.nav-button:active { background: #ff8945;}

.admin-contain {
    padding: 96px;
    padding-top: 80px;
}

/* ---------- QUOTE SECTION ---------- */

.year-list, .make-list, .model-list {
    font-size: 1.5em;
    background: #EEE;
    margin-top: 12px;
    padding: 12px 24px;
    transition: 200ms linear all;
    user-select: none;
    cursor: pointer;
}
.year-list:hover { background: #d7d7d7; }
.year-list:active { background: #DDD; }
.menu-tick {
    /*content: '\25b6';*/
    font-size: 0.5em;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    top: -0.3em;
    position: relative;
    margin-right: 12px;
    transition: 200ms linear all;
}
.menu-tick.on {
    transform: rotate(90deg);
}

.make-list {
    font-size: 1.25em;
    background: #CCC;
    padding: 0px 72px;
    overflow: hidden;
    height: 0px;
    margin-top: 0px;
}
.make-list.active {
    padding: 12px 48px;
    height: auto;
}
.make-list:hover { background: #BABABA; }
.make-list:active { background: #BBB; }

.model-list {
    font-size: 1.25em;
    background: #AAA;
    padding: 0px 96px;
    overflow: hidden;
    height: 0px;
    margin-top: 0px;
    cursor: default;
}
.model-list.active {
    padding: 12px 72px;
    height: auto;
}
.model-list:active { background: #9A9A9A; }

.model-edit-section {
    display: inline-flex;
    float: right;
}
.edit-icon {
    font-size: 0.75em;
    background: #ca4a00;
    color: #FFF;
    width: 8em;
    margin: 0 4px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.edit-icon:hover { background: #ff5e00; }
.edit-icon:active { background: #ff8945; }
.edit-icon:disabled {
    background: #888;
    color: #444;
    cursor: default;
}
.qe-bar-delete-txt { display: none; }

.admin-pm-body {
    z-index: -20;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    backdrop-filter: blur(8px);
    transition: 200ms linear background, backdrop-filter;
    display: flex;
    user-select: none;
}

.admin-pm-box {
    background: rgba(255, 255, 255, 0.75);
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #000;
    margin: auto;
    max-width: 50%;
    position: relative;
    transition: 200ms linear all;
    user-select: none;
}
.admin-pm-msg {
    padding: 12px 32px;
    font-size: 1.25em;
}
.admin-pm-buttonbox {
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
}

.admin-pm-btn {
    font-size: 1.25em;
    background: #666;
    color: #FFF;
    max-width: 50%;
    width: 25%;
    margin: 8px 16px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.admin-pm-btn:hover { background: #777; }
.admin-pm-btn:active { background: #888; }
.admin-pm-btn.main { background: #ca4a00; }
.admin-pm-btn.main:hover { background: #ff5e00; }
.admin-pm-btn.main:active { background: #ff8945; }
.admin-pm-btn:disabled {
    background: #888;
    color: #444;
    cursor: default;
}
.admin-pm-btn::first-letter {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}



.admin-qe-box {
    background: rgba(255, 255, 255, 0.75);
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #000;
    margin: auto;
    min-width: 30%;
    position: relative;
    transition: 200ms linear top, 200ms linear opacity;
    -webkit-user-select: none;
    user-select: none;
    /*resize: vertical;
    overflow-y: auto;*/
    overflow: hidden;
}
.admin-qe-block {
    display: block;
    /*height: 100%;*/
}
.admin-qe-ttext {
    color: #333;
    font-size: 0.8em;
    font-weight: 600;
    margin: 16px;
    margin-bottom: 0px;
}
.admin-qe-buttonbox {
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}
.admin-qe-btn {
    font-size: 1.25em;
    background: #666;
    color: #FFF;
    max-width: 50%;
    width: 25%;
    margin: 8px 16px;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
    transition: 200ms linear all;
    cursor: pointer;
    border: none;
}
.admin-qe-btn:hover { background: #777; }
.admin-qe-btn:active { background: #888; }
.admin-qe-btn.main { background: #ca4a00; }
.admin-qe-btn.main:hover { background: #ff5e00; }
.admin-qe-btn.main:active { background: #ff8945; }
.admin-qe-btn:disabled {
    background: #888;
    color: #444;
    cursor: default;
}
.admin-qe-title {
    display: flex;
    margin: 4px 12px;
    margin-bottom: 0px;
}
.admin-qe-title-txt {
    width: auto;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    color: #333;
    margin: auto 4px;
    padding: 4px 12px;
}
.admin-qe-title-txt[type=number]{
    width: 4em;
} 
.admin-qe-content {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 4px 16px;
    height: calc(70vh - 168px);
    /*max-height: 50vh;*/
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.qe-cat, .qe-item {
    margin: 8px 12px;
    background: #CCC;
    padding: 8px;
    border-radius: 8px;
    color: #333;
    line-height: 1.5em;
    display: flow-root;
}
.qe-item {
    background: #F0F0F0;
    display: flex;
}
.qe-cat.add, .qe-item.add {
    background: #EEE;
    color: #444;
    font-size: 0.9em;
    line-height: 1em;
    text-align: center;
    transition: 150ms linear all;
    cursor: pointer;
}
.qe-cat.add:hover, .qe-item.add:hover {
    background: #FFF;
    color: #444;
}
.qe-bar-button {
    cursor: pointer;
    margin-left: 8px;
    font-size: 14px;
    padding: 1px 4px;
    background: #555;
    border-radius: 8px;
    color: #FFF;
    min-width: 2em;
    display: inline-table;
    text-align: center;
    transition: 200ms linear all;
}
.qe-bar-button:hover { background: #888; }
.qe-bar-button.delete { background: rgb(175, 51, 51); }
.qe-bar-button.delete:hover { background: rgb(223, 87, 87); }
.qe-bar-button.ok { background: rgb(101, 160, 94); }
.qe-bar-button.ok:hover { background: rgb(112, 182, 104); }

.qe-bar-text {
    margin: auto;
}
.qe-bar-text.left {
    float: left;
    margin: initial;
}
.qe-bar-text.right {
    float: right;
    margin: initial;
}
.qe-bar-text-span {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    overflow: hidden;
}

.edit-item-txt {
    font-size: 1em;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 2px 8px;
    width: 10em;
}
.edit-item-txt.short {
    width: 4em;
}

/* ----------- USER SECTION -------------- */
.user-list-legends {
    font-size: 1.2em;
    background: #BBB;
    padding: 12px 24px;
    transition: 200ms linear all;
    user-select: none;
}
.user-list, .user-list2 {
    font-size: 1.4em;
    background: #EEE;
    transition: 200ms linear all;
    user-select: none;
}
.user-list2 { background: #DDD; }

.user-list-clickable {
    padding: 12px 24px;
    background: rgba(0, 0, 0, 0);
    transition: 200ms linear all;
    cursor: pointer;
}
.user-list-clickable:hover { background: rgba(0, 0, 0, 0.1); }
.user-list-clickable:active { background: rgba(0, 0, 0, 0.2); }

.user-list-uid, .user-list-username, .user-list-email {
    display: inline-block;
    margin-top: 0px;
    font-size: 0.9em;
}
.user-list-phone, .user-list-name, .user-list-address, .user-list-joined {
    display: block;
    height: 0em;
    font-size: 0em;
    overflow: hidden;
    transition: 200ms linear all;
}
.user-list-uid {
    width: 2em;
    overflow: hidden;
}
.user-list-username, .user-list-email {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-list-email { width: 50%; }
.user-list-uid.legends { margin-left: 1.1em; }
.user-list-username.rootuser {
    font-weight: 600;
    color:rgb(202, 74, 0);
}
.user-list-email.mobile { display: none; }
.on .user-list-uid, .on .user-list-username, .on .user-list-name, .on .user-list-email, .on .user-list-phone { font-size: 0.9em; }
.on .user-list-name, .on .user-list-phone, .on .user-list-address, .on .user-list-joined {
    height: 1.2em;
    margin-top: 0.5em;
    font-size: 0.75em;
    margin-left: 24px;
}
.edit-user-icon {
    font-size: 0.65em;
    background: #ca4a00;
    color: #FFF;
    width: 12em;
    margin: 0 4px;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1.2em;
    transition: 100ms linear all;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 6px;
}
.edit-user-icon:hover { background: #ff5e00; }
.edit-user-icon:active { background: #ff8945; }
.edit-user-icon:disabled {
    background: #888;
    color: #444;
    cursor: default;
}

.user-edit-section {
    overflow: hidden;
    transition: 100ms linear all;
    text-align: left;
    font-size: 0em;
    height: 0em;
    margin: 0.5em;
}
.on .user-edit-section {
    height: 2em;
    margin: 0.5em;
    font-size: 0.9em;
}

.admin-ue-title {
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 12px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 200;
}

.admin_ue_section {
    display: inline-block;
    padding: 0 2%;
    width: 46%;
}
.admin_ue_section.wide {
    width: 96%;
}
.admin_ue_section .admin-qe-ttext {
    margin-left: 4px;
}
.admin-ue-txt {
    width: -webkit-fill-available;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    color: #333;
    margin: auto 4px;
    padding: 4px 12px;
}

.admin-ue-check {
    appearance: none;
    user-select: none;
    cursor: pointer;
}
.admin-ue-check.disabled { cursor: not-allowed; }
.admin-ue-check::before {
    width: 4em;
    height: 1.75em;
    background-color: #cc4848;
    content: ' ';
    display: inline-block;
    border-radius: 1em;
    transition: 200ms linear all;
}
.admin-ue-check.check::before {
    background-color: #399c41;
}
.admin-ue-check.disabled::before { background-color: #777; }
.admin-ue-check::after {
    width: 2em;
    height: 1.3em;
    background-color: #FFF;
    content: ' ';
    border-radius: 1em;
    display: inline-block;
    position: relative;
    right: 60px;
    bottom: 3px;
    transition: 400ms cubic-bezier(0, 0, 0.2, 1) all;
}
.admin-ue-check.check::after { right: 35px; }
.admin-ue-check.disabled::after { background-color: #AAA; }

.acpform-important { color: #cc4848; }

.quotelist-load {
    font-size: 1.5em;
    background: #888;
    padding: 12px 24px;
    margin: 0px;
    transition: 200ms linear all;
    user-select: none;
    overflow: hidden;
}
.quotelist-load2 {
    font-size: 0em;
    background: #888;
    padding: 0px 0px;
    margin: 0px;
    transition: 200ms linear all;
    user-select: none;
    overflow: hidden;
    transition: 200ms linear all;
}
.quotelist-load2.active {
    font-size: 1.5em;
    padding: 12px 24px;
}
.quotelist-load img, .quotelist-load2 img { width: 1em; height: 1em; user-select: none; filter: invert(0.8); }
.quotelist-load .ld, .quotelist-load2 .ld { width: 1em; height: 1em; margin: auto; }
.qe-cat.add img { width: 2em; height: 2em; user-select: none; filter: invert(0.8); }
.qe-cat.add .ld { width: 2em; height: 2em; margin: auto; }

.loading-cover {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0px;
    backdrop-filter: blur(4px);
    z-index: -10;
    transition: 200ms linear opacity, 200ms linear backdrop-filter;
    opacity: 0;
    display: flex;
}

.loading-cover-center { margin: auto; }

.loading-cover .ld, .loading-cover img {
    width: 32px;
    height: 32px;
    margin: auto;
}

.ue-toploadbar {
    overflow: hidden;
    line-height: 0em;
    font-size: 0em;
    transition: 200ms linear all;
    padding: 0px 32px 0px;
}

.ue-toploadbar.show {
    display: block;
    width: 100%;
    background: #555;
    font-size: 0.9em;
    color: #FFF;
    line-height: 0.9em;
    padding: 8px 24px 16px;
}

.ue-toploadbar .ld {
    display: inline-block;
    position: relative;
    text-indent: initial;
    top: 7px;
}
.ue-toploadbar .ld, .ue-toploadbar img {
    width: 1.5em;
    height: 1.5em;
}
.ue-toploadbar img { filter: invert(10); }