@media only screen and (max-width: 640px) {
    .logo img {
        max-width: 80vw;
        margin: auto;
    }
    .land-btn-section {
        display: grid;
        text-align: center;
    }
    .land-item, .land-btn {
        margin-bottom: 12px;
        font-size: 1.3em;
    }
    .section1-box {
        width: 90%;
    }
    .section2 {
        background-size: 50%;
        animation: section2_bg 60s linear infinite;
    }
    @keyframes section2_bg {
        from { background-position-x: 0px; }
        to { background-position-x: 100%; }
    }
    .section2-box {
        width: 90%;
    }
    .serviceBlock {
        font-size: 1.2em;
    }
    .service-list {
        margin-top: 20px;
        border-radius: 16px;
    }
    .land-item {
        color: #FFF;
        text-shadow: 0 0 0 #000;
        background: rgba(0, 0, 0, 0.75);
        text-decoration: none;
    }
    .land-item:active {
        color: #FFF;
        text-shadow: 0 0 0 #000;
        background: rgba(0, 0, 0, 1);
    }
    .land-btn {
        color: rgb(202, 74, 0); /*rgb(255,94,0)*/
        text-decoration: overline;
    }
    .land-btn {
        color: #FFF;
        text-shadow: 0 0 0 #000;
        background: rgba(202, 74, 0, 0.75);
        text-decoration: none;
    }
    .form-block {
        width: 100%;
        display: block;
    }
    .popup-box {
        max-width: 80vw;
    }
}