@media only screen and (max-width: 640px) {
    /* top navigation bar */
    .userbar-back { height: auto; }
    .user-icon, .user-menu { right: 0px; }
    .user-text { display: none; }
    .nav-items { width: auto; padding: 0 24px; }
    .nav-items svg { display: initial; }
    .nav-text { display: none; }
    .nav-buttom { margin-bottom: 8px; }

    /* general */
    .admin-contain { padding: 8px; padding-top: 64px; }
    .admin-pm-box { max-width: initial; margin: auto; }
    .admin-pm-msg { padding: 8px 16px; font-size: 1.1em; }
    .admin-pm-btn { width: 100%; }
    .loading-cover { height: 100%; }

    /* login */
    .login-window { width: 80%; border-radius: 8px; padding: 24px;}

    /* quote edit */
    .year-list, .make-list, .model-list { margin-top: 4px; padding: 10px 24px; }
    .make-list, .model-list { margin-top: 0px; padding: 0px; }
    .make-list.active { padding: 8px 16px; }
    .model-list.active { font-size: 1.3em; padding: 8px 8px; line-height: 1.6em; }
    .edit-icon { width: 2.5em; font-size: 0.75em; padding: 4px 8px; height: auto; border-radius: 4px; }
    .list-button-txt { display: none; }
    .admin-qe-box { min-width: 80%; max-width: 100%; max-height: 100%; overflow-x: hidden; overflow-y: scroll; }
    .admin-qe-content { margin: 4px 8px; border-radius: 4px; padding: 0px; }
    .admin-qe-title-txt { font-size: 1em; padding: 4px 8px; border-radius: 4px; width: 4em; }
    .qe-cat { border-radius: 4px; margin: 8px; display: block; min-height: 1.6em; }
    .qe-bar-text { font-size: 1.2em; margin: 2px 0px; }
    .qe-item { display: flex; flex-flow: column; margin: 6px 8px; padding: 1px 4px; border-radius: 4px; }
    .qe-item .qe-bar-text { 
        width: 100%; 
        font-size: 1em; 
        padding: 2px 0px; 
        text-align: left; 
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .qe-item .qe-bar-text:last-child { border-bottom: none; }
    .qe-item .qe-bar-text.left, .qe-bar-text.right { float: none; }
    .qe-cat.add, .qe-item.add { padding: 8px 12px; min-height: 0.5em; }
    .qe-bar-button { float: right; background: #777; border-radius: 4px; margin: 0px 1px; }
    input.edit-item-txt { margin: 0px; width: 5.1rem; height: 1.1em; }
    .qe-item input.edit-item-txt { margin: 2px 0px; width: 6.3rem; }
    .admin-qe-buttonbox { width: auto; white-space: normal; }
    .admin-qe-btn { border-radius: 8px; font-size: 1em; height: 2em; margin: 2px 4px; width: 30%; }
    .qe-bar-delete-txt { display: inline; font-size: 0.7em; color: rgb(184, 64, 64); text-transform: uppercase; }

    /* user list */
    .user-list-username { width: 60%; }
    .user-list-email { display: none; }
    .user-list-email.mobile { display: block; height: 0em; font-size: 0em; overflow: hidden; transition: 200ms linear all; }
    .on .user-list-email.mobile { height: 1.2em; margin-top: 0.5em; font-size: 0.75em; margin-left: 24px; }
    .user-list-email.mobile, .user-list-phone, .user-list-name, .user-list-address, .user-list-joined {
        width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .edit-user-icon { width: 6em; border-radius: 4px; }
    .edit-user-icon .ue-btn-txt { display: none; }
    .admin_ue_section { width: 96%; }
}