.lander.quote {
    width: 100%;
    height: 25vh;
    background: url(/static/media/landing-bg-placeholder1.2f199abc.jpg);
    background-size: cover;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.lander-cover {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 100%;
    width: 100%;
    text-align: center;
    color: #888;
    /*overflow: hidden;*/
    z-index: 3;
    background: #4e1d00;
    transition: 300ms ease-in all;
    display: flex;
    user-select: none;
    transform-origin: top center;
    transform: perspective(800px) rotateX(-90deg);
}
.lander.quote:hover .lander-cover {
    background: #ff5e00AA;
    color: #FFF;
    bottom: 0;
    height: 100%;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    transform: rotateX(0deg);
}
.lander.quote:active .lander-cover { background:#ff9355CC; }
.lander-cover-shade {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 100%;
    width: 100%;
    height: 100%;
    transition: 300ms ease-in all;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    backdrop-filter: blur(0px);
}
.lander.quote:hover .lander-cover-shade { background: rgba(0, 0, 0, 0.75); backdrop-filter: blur(5px); }
.lander-cover-txt {
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.lander-contain.quote {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
}
.lander.quote .logo img {
    height: -webkit-fill-available;
    max-height: 5em;
    object-fit: contain;
}


.section5 {
    background: rgba(0, 0, 0, 0.05);
    color: #FFF; 
    padding: 32px 0px 8px;
}
h3 {
    font-size: 1.5em;
    color: rgb(202, 74, 0);
    line-height: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
}
.selection-area {
    text-align: center;

}
.form-selectcar.disabled{
    border: 0px solid rgba(0, 0, 0, 0);
    font-size: 1.2em;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 0px;
    transition: 200ms linear all;
}
.form-selectcar {
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 1.2em;
    margin: 8px 8px 16px;
    padding: 8px 8px;
    border-radius: 8px;
    color: #333;
    width: 50%;
    height: 2.15em;
    background: #FFF;
    text-align: center;
    transition: 200ms linear all;
}
.quote-footnote {
    margin-bottom: 32px;
}

.section6 {
    padding: 0px;
    overflow: hidden;
    transition: 200ms linear all;
    height: 0px;
}
.section6.active {
    padding: 32px 0px 8px;
    height: auto;
}
.section3-box {
    width: 80%;
    margin: auto;
    color: #333;
    height: auto;
    display: block;
}
.list-quotes {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 24px 0px;
}
.list-quotes.none {
    margin: 16px 0px;
}
.list-quotes.load {
    margin: 16px 0px;
}
.list-quotes.load .ld { margin: auto; }
.list-quotes.load .ld, .list-quotes.load img {
    width: 2em; height: 2em;
}

.qlist-cat {
    background: #ca4a00;
    color: #FFF;
    display: inline-flex;
    margin: 8px;
    width: 16em;
    flex-direction: column;
    border-radius: 4px;
    user-select: none; 
    transition: 200ms linear all;
}
.qlist-cat:hover { background: #ff5e00; }
.qlist-cat-title {
    font-size: 1.2em;
    font-weight: 500;
    padding: 4px 8px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.qlist-itm {
    padding: 2px 8px;
}
.qlist-itm.alt {
    background: rgba(255, 255, 255, 0.1);
}
.qlist-itm.nan {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.qlist-itm-l, .qlist-itm-r {
    display: inline;
    z-index: 1;
}
.qlist-itm-l {
    float: left;
}
.qlist-itm-r { float: right; }

.loading-cover-text {
    user-select: none;
}