.user-bar {
    display: flex;
    position: fixed;
    width: 100%;
}

.user-icon {
    position: absolute;
    right: 0px;
    overflow-x: hidden;
    display: flex;
}

.user-text {
    font-size: 1.2em;
    display: inline-grid;
    padding: 0px 8px;
    margin: auto 0px;
    background: rgba(255, 255, 255, 0.8);
}

.user-hamburber {
    display: inline-grid;
    padding: 12px;
    background: rgba(255, 255, 255, 0.4);
    transition: 200ms linear all;
}
.user-hamburber:hover {
    background: rgba(255, 255, 255, 0.9);
}
.user-hamburber:active {
    background: rgba(200, 200, 200, 1);
}

.user-hamburger-dash {
    background: rgba(0, 0, 0, 0.5);
    width: 1.5em;
    height: 4px;
    margin: 2px 0px;
}