.user-bar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.userbar-back {
    width: 100vw;
    height: 3em;
    background: rgba(255, 255, 255, 0.75);
    transition: 200ms linear all;
    backdrop-filter: blur(10px);
    position: fixed;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.user-icon {
    position: absolute;
    right: 0px;
    overflow-x: hidden;
    display: flex;
}

.user-text {
    font-size: 1.2em;
    display: inline-grid;
    padding: 0px 8px;
    margin: auto 0px;
    color: #333;
    line-height: 2.5em;
    user-select: none;
}

.user-hamburber {
    display: inline-grid;
    padding: 12px;
    transition: 200ms linear all;
    cursor: pointer;
    user-select: none;
}
.user-hamburber:active {
    background: rgba(255, 255, 255, 0.3);
}

.user-hamburger-dash {
    background: #333;
    width: 1.5em;
    height: 4px;
    margin: 2px 0px;
    transition: 200ms linear all;
}

.user-hamburger-dash.hover {
    background: #777;
}

.user-menu {
    overflow: hidden;
    background: rgba(80, 80, 80, 0.95);
    transition: 200ms linear all;
    width: auto;
    padding: 0px;
    display: grid;
    position: fixed;
    top: 3em;
    right: 0px;
    /*backdrop-filter: blur(8px);*/
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.user-menu-item {
    font-size: 1.2em;
    color: #FFF;
    padding: 8px 12px;
    border-bottom: 1px solid #999999;
    cursor: pointer;
    user-select: none;
    background: rgba(0, 0, 0, 0);
    transition: 200ms linear all;
}
.user-menu-item:hover { background: rgba(255, 255, 255, 0.2); }
.user-menu-item:active { background: rgba(255, 255, 255, 0.5); }

.input-title {
    font-size: 0.9em;
    color: #333;
    padding: 4px 12px;
}